.table {
  margin: 1.6rem auto;
  width: 100%;
  border-collapse: collapse;
  border-radius: var(--border-radius);

  thead {
    background-color: var(--secondary-color);

    tr,
    th {
      text-align: left;
      padding: 1rem;
    }
  }

  tbody {
    tr,
    td {
      text-align: left;
      padding: 1rem;
    }
  }
}
